<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.Railway.dao.administratorMapper" >
  <resultMap id="BaseResultMap" type="com.xq.Railway.model.administrator" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="aphonenum" property="aphonenum" jdbcType="VARCHAR" />
    <result column="afoundtime" property="afoundtime" jdbcType="VARCHAR" />
    <result column="aemile" property="aemile" jdbcType="VARCHAR" />
    <result column="arole" property="arole" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="jurisdiction" property="jurisdiction" jdbcType="VARCHAR" />
    <result column="lineid" property="lineid" jdbcType="VARCHAR" />
    <result column="siteid" property="siteid" jdbcType="VARCHAR" />
    <result column="ausername" property="ausername" jdbcType="VARCHAR" />
    <result column="apwd" property="apwd" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, aname, aphonenum, afoundtime, aemile, arole, department,jurisdiction, lineid, siteid, ausername, 
    apwd, isdelete
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    
    select 
    <include refid="Base_Column_List" />
    from administrator
    where aid = #{aid,jdbcType=VARCHAR} and isdelete != 1
  </select>
  <select id="selectusername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    
    select 
     <include refid="Base_Column_List" />
    from administrator
    where ausername = #{ausername,jdbcType=VARCHAR} and isdelete != 1
  </select>
  <select id="selectAllsid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    
    select 
     <include refid="Base_Column_List" />
    from administrator
    where siteid = #{id,jdbcType=VARCHAR} and isdelete != 1
  </select>
  
  <select id="selectusernamepwd" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where ausername = #{username,jdbcType=VARCHAR} and apwd = #{pwd,jdbcType=VARCHAR} and isdelete != 1
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    
    select 
     <include refid="Base_Column_List" />
    from administrator  where jurisdiction != 100 and isdelete != 1 limit #{pageNum},#{pageSize};
  </select>
  
  <select id="selectAlls" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    
    select 
     <include refid="Base_Column_List" />
    from administrator  where jurisdiction != 100 and isdelete != 1
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    delete from administrator
    where aid = #{aid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xq.Railway.model.administrator" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    insert into administrator (aid, aname, aphonenum, 
      afoundtime, aemile, arole, 
      department, lineid, siteid, 
      ausername, apwd, isdelete
      )
    values (#{aid,jdbcType=VARCHAR}, #{aname,jdbcType=VARCHAR}, #{aphonenum,jdbcType=VARCHAR}, 
      #{afoundtime,jdbcType=VARCHAR}, #{aemile,jdbcType=VARCHAR}, #{arole,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{lineid,jdbcType=VARCHAR}, #{siteid,jdbcType=VARCHAR}, 
      #{ausername,jdbcType=VARCHAR}, #{apwd,jdbcType=VARCHAR}, #{isdelete,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.Railway.model.administrator" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="aphonenum != null" >
        aphonenum,
      </if>
      <if test="afoundtime != null" >
        afoundtime,
      </if>
      <if test="aemile != null" >
        aemile,
      </if>
      <if test="arole != null" >
        arole,
      </if>
      <if test="jurisdiction != null" >
        jurisdiction,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="lineid != null" >
        lineid,
      </if>
      <if test="siteid != null" >
        siteid,
      </if>
      <if test="ausername != null" >
        ausername,
      </if>
      <if test="apwd != null" >
        apwd,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=VARCHAR},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="aphonenum != null" >
        #{aphonenum,jdbcType=VARCHAR},
      </if>
      <if test="afoundtime != null" >
        #{afoundtime,jdbcType=VARCHAR},
      </if>
      <if test="aemile != null" >
        #{aemile,jdbcType=VARCHAR},
      </if>
      <if test="arole != null" >
        #{arole,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null" >
        #{jurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null" >
        #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=VARCHAR},
      </if>
      <if test="ausername != null" >
        #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="apwd != null" >
        #{apwd,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.Railway.model.administrator" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    update administrator
    <set >
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="aphonenum != null" >
        aphonenum = #{aphonenum,jdbcType=VARCHAR},
      </if>
      <if test="afoundtime != null" >
        afoundtime = #{afoundtime,jdbcType=VARCHAR},
      </if>
      <if test="aemile != null" >
        aemile = #{aemile,jdbcType=VARCHAR},
      </if>
      <if test="arole != null" >
        arole = #{arole,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null" >
        lineid = #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        siteid = #{siteid,jdbcType=VARCHAR},
      </if>
      <if test="ausername != null" >
        ausername = #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="apwd != null" >
        apwd = #{apwd,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.Railway.model.administrator" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    update administrator
    set aname = #{aname,jdbcType=VARCHAR},
      aphonenum = #{aphonenum,jdbcType=VARCHAR},
      afoundtime = #{afoundtime,jdbcType=VARCHAR},
      aemile = #{aemile,jdbcType=VARCHAR},
      arole = #{arole,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      lineid = #{lineid,jdbcType=VARCHAR},
      siteid = #{siteid,jdbcType=VARCHAR},
      ausername = #{ausername,jdbcType=VARCHAR},
      apwd = #{apwd,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
</mapper>