<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.Railway.dao.detectionresultMapper" >
  <resultMap id="BaseResultMap" type="com.xq.Railway.model.detectionresult" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="standards" property="standards" jdbcType="VARCHAR" />
    <result column="standardid" property="standardid" jdbcType="VARCHAR" />
    <result column="measureddata" property="measureddata" jdbcType="VARCHAR" />
    <result column="measureddata1" property="measureddata1" jdbcType="VARCHAR" />
    <result column="measuredresults" property="measuredresults" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, pname,standards,standardid, measureddata,measureddata1, measuredresults, isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByMid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where 
    mid = #{mid,jdbcType=VARCHAR}  
  </select>
  <select id="selectbymidresults" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where 
    mid = #{mid,jdbcType=VARCHAR}  and  measuredresults = #{string,jdbcType=VARCHAR}
  </select>
  <select id="selectbysidmid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where   mid = #{mid,jdbcType=VARCHAR}  and standardid = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectbymidpname" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where   mid = #{id,jdbcType=VARCHAR}  and standardid = #{id2,jdbcType=VARCHAR}
  </select>
  <select id="selectbypname" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult
    where 
    mid = #{mid,jdbcType=VARCHAR}  
     <if test="pname != null" >
   	 and  pname like  "%"#{pname,jdbcType=VARCHAR}"%" 
      </if>
      limit #{pageNum} ,#{pageSize};
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detectionresult limit #{pageNum} ,#{pageSize};
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from detectionresult
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xq.Railway.model.detectionresult" >
    insert into detectionresult (mid, pname, 
      standards, measureddata,measureddata1, measuredresults, 
      isdelete)
    values (#{id,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{standards,jdbcType=VARCHAR}, #{measureddata,jdbcType=VARCHAR},#{measureddata1,jdbcType=VARCHAR}, #{measuredresults,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=VARCHAR})
  </insert>
  
  <!-- 批量录入订单 -->
	<insert id="insertSelectives" parameterType="java.util.List">
		insert into detectionresult (mid, pname, 
      standards,standardid, measureddata,measureddata1, measuredresults)
    values
		<foreach collection="list" item="item" index="index" separator="," >  
			  (#{item.mid},#{item.pname},
			#{item.standards},#{item.standardid},#{item.measureddata},#{item.measureddata1},
			#{item.measuredresults})
		</foreach>
	</insert>
  
   <!-- 查询上条插入动作产生的id -->
	<select id="selectLastId" resultType="int">
		SELECT LAST_INSERT_ID()
	</select>
  
  <insert id="insertSelective" parameterType="com.xq.Railway.model.detectionresult" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    insert into detectionresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="standards != null" >
        standards,
      </if>
      <if test="standardid != null" >
        standardid,
      </if>
      <if test="measureddata != null" >
        measureddata,
      </if>
      <if test="measureddata1 != null" >
        measureddata1,
      </if>
      <if test="measuredresults != null" >
        measuredresults,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="standards != null" >
        #{standards,jdbcType=VARCHAR},
      </if>
      <if test="standardid != null" >
        #{standardid,jdbcType=VARCHAR},
      </if>
      <if test="measureddata != null" >
        #{measureddata,jdbcType=VARCHAR},
      </if>
      <if test="measureddata1 != null" >
        #{measureddata1,jdbcType=VARCHAR},
      </if>
      <if test="measuredresults != null" >
        #{measuredresults,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.Railway.model.detectionresult" >
    update detectionresult
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="standards != null" >
        standards = #{standards,jdbcType=VARCHAR},
      </if>
      <if test="measureddata != null" >
        measureddata = #{measureddata,jdbcType=VARCHAR},
      </if>
      <if test="measureddata1 != null" >
        measureddata1 = #{measureddata1,jdbcType=VARCHAR},
      </if>
      <if test="measuredresults != null" >
        measuredresults = #{measuredresults,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.Railway.model.detectionresult" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 11 12:09:53 CST 2019.
    -->
    update detectionresult
    set mid = #{mid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      standards = #{standards,jdbcType=VARCHAR},
      measureddata = #{measureddata,jdbcType=VARCHAR},
      measureddata1 = #{measureddata1,jdbcType=VARCHAR},
      measuredresults = #{measuredresults,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>