<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.Railway.dao.measurementstandardMapper" >
  <resultMap id="BaseResultMap" type="com.xq.Railway.model.measurementstandard" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dcbh" property="dcbh" jdbcType="VARCHAR" />
    <result column="measurementitem" property="measurementitem" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="ranges" property="ranges" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="range1" property="range1" jdbcType="VARCHAR" />
    <result column="standard1" property="standard1" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
    <result column="turnoutstandardid" property="turnoutstandardid" jdbcType="VARCHAR" />
    <result column="inspectionmethod" property="inspectionmethod" jdbcType="VARCHAR" />
    <result column="managementcategory" property="managementcategory" jdbcType="VARCHAR" />
    <result column="gaugestandardid" property="gaugestandardid" jdbcType="VARCHAR" />
    <result column="isdetails" property="isdetails" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,dcbh, measurementitem,state,ranges,standard,range1,standard1, isdelete,turnoutstandardid,inspectionmethod,managementcategory,gaugestandardid,isdetails
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard  limit #{pageNum} ,#{pageSize};
  </select>
  
  <select id="findbystandard" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard where  turnoutstandardid = #{id} limit #{pageNum} ,#{pageSize};
  </select>
  
  
  
  <select id="findbystandardAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard where  turnoutstandardid = #{id} 
  </select>
  <select id="findbystandardAll1" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard where  turnoutstandardid = #{id} 
  </select>
  
  <select id="findbyproject" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT s.* FROM measurementstandard s LEFT JOIN measurementproject p ON s.turnoutstandardid = p.turnoutstandardid WHERE p.id=#{id} limit #{pageNum} ,#{pageSize};
  </select>
  <select id="findbyprojectAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT s.* FROM measurementstandard s LEFT JOIN measurementproject p ON s.turnoutstandardid = p.turnoutstandardid WHERE p.id=#{id} 
  </select>
  
  <select id="findbyturnoutstandard" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT s.* FROM measurementstandard s  WHERE s.turnoutstandardid=#{id} limit #{pageNum} ,#{pageSize};
  </select>
  <select id="findbyturnoutstandardAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT s.* FROM measurementstandard s  WHERE s.turnoutstandardid=#{id} 
  </select>
  
  
  <select id="selectAllCount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard where state != 1
  </select>
  <select id="selectAll1" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard  limit #{pageNum} ,#{pageSize};
  </select>
  <select id="selectAllCount1" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     <include refid="Base_Column_List" /> 
    <!--  measurementitem,state,range,standard,range1,standard1, isdelete -->
    from measurementstandard 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from measurementstandard
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xq.Railway.model.measurementstandard" >
    insert into measurementstandard (id,dcbh, measurementitem, standard, 
      isdelete,turnoutstandardid,inspectionmethod,managementcategory,gaugestandardid,isdetails)
    values (#{id,jdbcType=VARCHAR},#{dcbh,jdbcType=VARCHAR}, #{measurementitem,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=VARCHAR},
      #{turnoutstandardid,jdbcType=VARCHAR},
      #{inspectionmethod,jdbcType=VARCHAR},
      #{managementcategory,jdbcType=VARCHAR},
      #{gaugestandardid,jdbcType=VARCHAR},
      #{isdetails,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.Railway.model.measurementstandard" >
    insert into measurementstandard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dcbh != null" >
        dcbh,
      </if>
      <if test="measurementitem != null" >
        measurementitem,
      </if>
       <if test="state != null" >
        state,
      </if>
       <if test="range1 != null" >
        range1,
      </if>
       <if test="ranges != null" >
        ranges,
      </if>
      
      <if test="standard != null" >
        standard,
      </if>
       <if test="standard1 != null" >
        standard1,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="turnoutstandardid != null" >
        turnoutstandardid,
      </if>
      <if test="inspectionmethod != null" >
        inspectionmethod,
      </if>
      <if test="managementcategory != null" >
        managementcategory,
      </if>
      <if test="gaugestandardid != null" >
        gaugestandardid,
      </if>
      <if test="isdetails != null" >
        isdetails,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dcbh != null" >
        #{dcbh,jdbcType=VARCHAR},
      </if>
      <if test="measurementitem != null" >
        #{measurementitem,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="range1 != null" >
        #{range1,jdbcType=VARCHAR},
      </if>
      <if test="ranges != null" >
        #{ranges,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="standard1 != null" >
        #{standard1,jdbcType=VARCHAR},
      </if>
      
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="turnoutstandardid != null" >
        #{turnoutstandardid,jdbcType=VARCHAR},
      </if>
      <if test="inspectionmethod != null" >
        #{inspectionmethod,jdbcType=VARCHAR},
      </if>
      <if test="managementcategory != null" >
        #{managementcategory,jdbcType=VARCHAR},
      </if>
      <if test="gaugestandardid != null" >
        #{gaugestandardid,jdbcType=VARCHAR},
      </if>
      <if test="isdetails != null" >
        #{isdetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.Railway.model.measurementstandard" >
    update measurementstandard
    <set >
      <if test="measurementitem != null" >
        measurementitem = #{measurementitem,jdbcType=VARCHAR},
      </if>
      <if test="dcbh != null" >
        dcbh = #{dcbh,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="standard1 != null" >
        standard1 = #{standard1,jdbcType=VARCHAR},
      </if>
      <if test="turnoutstandardid != null" >
        turnoutstandardid = #{turnoutstandardid,jdbcType=VARCHAR},
      </if>
      <if test="inspectionmethod != null" >
        inspectionmethod = #{inspectionmethod,jdbcType=VARCHAR},
      </if>
      <if test="managementcategory != null" >
        managementcategory = #{managementcategory,jdbcType=VARCHAR},
      </if>
      <if test="isdetails != null" >
        isdetails = #{isdetails,jdbcType=VARCHAR},
      </if>
      <if test="gaugestandardid != null" >
        gaugestandardid = #{gaugestandardid,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.Railway.model.measurementstandard" >
    update measurementstandard
    set measurementitem = #{measurementitem,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>