<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.Railway.dao.qualitystandardMapper" >
  <resultMap id="BaseResultMap" type="com.xq.Railway.model.qualitystandard" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="msg1" property="msg1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, msg, num, msg1
  </sql>
  
  
  <delete id="remove"  parameterType="java.lang.String">
  
  	delete from qualitystandard   where id = #{id,jdbcType=VARCHAR}
  
  </delete>
  <select id="values" resultMap="BaseResultMap" > 
  	 select 
    <include refid="Base_Column_List"  />
    from qualitystandard
  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qualitystandard
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qualitystandard
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xq.Railway.model.qualitystandard" >
    insert into qualitystandard (id, msg, num, 
      msg1)
    values (#{id,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, 
      #{msg1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.Railway.model.qualitystandard" >
    insert into qualitystandard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="msg1 != null" >
        msg1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="msg1 != null" >
        #{msg1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.Railway.model.qualitystandard" >
    update qualitystandard
    <set >
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="msg1 != null" >
        msg1 = #{msg1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.Railway.model.qualitystandard" >
    update qualitystandard
    set msg = #{msg,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      msg1 = #{msg1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>