<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.Railway.dao.turnouttypeMapper" >
  <resultMap id="BaseResultMap" type="com.xq.Railway.model.turnouttype" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="turnouttypename" property="turnouttypename" jdbcType="VARCHAR" />
    <result column="reamke" property="reamke" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, turnouttypename, reamke, isdelete
  </sql>
  <select id="findbyturnouttypename"  resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List"/>
  	from turnouttype 
  	where turnouttypename = #{turnouttypename}
  </select>
  
  <select id="findbyid" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List"/>
  	from turnouttype 
  	where id = #{id}
  
  </select>
  <update id="update" parameterType="com.xq.Railway.model.turnouttype">
  	update turnouttype 
 	 <set >
      <if test="turnouttypename != null" >
        turnouttypename = #{turnouttypename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  
  </update>
  
  <select id="values" resultMap="BaseResultMap">
  
  	select
  	<include refid="Base_Column_List"/>
  	from turnouttype 
  
  </select>
 
 	<delete id="remove">
 		delete from turnouttype where id = #{id}
 	</delete>
 
 
  <insert id="insert" parameterType="com.xq.Railway.model.turnouttype" >
    insert into turnouttype (id, turnouttypename, reamke, 
      isdelete)
    values (#{id,jdbcType=VARCHAR}, #{turnouttypename,jdbcType=VARCHAR}, #{reamke,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.Railway.model.turnouttype" >
    insert into turnouttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="turnouttypename != null" >
        turnouttypename,
      </if>
      <if test="reamke != null" >
        reamke,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="turnouttypename != null" >
        #{turnouttypename,jdbcType=VARCHAR},
      </if>
      <if test="reamke != null" >
        #{reamke,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>