body {
    padding-bottom: 50px;
}




.header {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.header .icon-wrap {
    position: absolute;
    right: 20px;
    top: 0;
}
.header #out img {
    width: 24px;
    height: 24px;
}



.line, .site , .project {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.line select, 
.site select ,
.project select {
    background: transparent;
    border: none;
}
.site .dropdown .btn-default,
.line .dropdown .btn-default {
    border: none;
    background: #eee;
}
.site .dropdown-menu,
.line .dropdown-menu {
    left: -92px;
}




.result {
    padding-bottom: 12px;
}
.result .title {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.result .table {
    width: 95%;
    margin: 0 auto;
}



.shadow {
    margin: 12px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.05),-1px -1px 15px rgba(0,0,0,0.01);;
    border-radius: 8px;
}








.weather {
    padding: 20px;
}
.weather-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-title img {
    width: 50px;
    height: 50px;
}
.weather-title .right {
    margin-left: 20px;
}
.weather-title .right div:first-of-type {
    font-size: 30px;

}
.weather .title {
    position: relative;
    /* padding:  20px 0 0 20px; */
    color: rgba(0,0,0,0.5)
}
.weather .title::before {
    content: '';
    display: block;
    width: 3px;
    height: 15px;
    background: #6FA3E2;
    position: absolute;
    left: -8px;
    top: 2px;
}



.result-title {
    position: relative;
    margin: 20px 40px;
    font-weight: 600;
}
.result-title::before {
    position: absolute;
    left: -28px;
    top: -2px;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    /* border: 1px solid red; */
    background-image: url('../img/jiance@2x.png');
    background-size: contain
}
.table-result {
    width: 95%;
    margin: 0 auto;
}







.standard {
    padding: 20px;
}
.standard .title {
    font-weight: 600;
}
.table-standard {
    margin-top: 10px;
}





.count {
    padding: 20px;
    height: 500px;
}
.count .title {
    font-weight: 600;
}













.footer_ {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    background: #fff;
}
.footer_ li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #BCBCBC;
}
.footer_ li img {
    width: 22px;
    height: 22px;
}

.active {
    color: #90B7E7;
}

.login-btn-w {
    display: none;
    position: fixed;
    left: 0;
    top: 50px;
}


.login-wrapper {
    padding: 20px;
}



/**
 * 图表
 */
.result-pic {
     padding: 12px;
     height: 250px;
}

 .main .main-footer .title {
    width: 100%;
}
.main .main-footer .title h4 {
    display: inline-block;
}
.main .main-footer .title ul {
    display: inline-block;
    float: right;
}
.main .main-footer .title ul li {
    display: inline-block;
    margin-left: 20px;
}
.main .main-footer .title ul li i {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 10px;
    -ms-border-radius: 10px;
}
.main .main-footer .title ul li:nth-child(1) i {
    background: rgb(250, 211, 54);
}
.main .main-footer .title ul li:nth-child(2) i {
    background: rgb(78, 202, 114);
}
.main .main-footer .title ul li:nth-child(3) i {
    background: rgb(55, 203, 203);
}
.main .main-footer .title ul li:nth-child(4) i {
    background: rgb(58, 161, 254);
}
.main .main-footer .title ul li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}


