.main .main-header {
    width: 100%;
    /* border: 1px solid #fff; */
    height: 50px;
}
.main .main-header p {
    display: inline-block;
}
.main .main-header select {
    background: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    border: 1px solid rgb(255,255,255,0.8);
}
.main .main-header select option {
    color: #222;
}

/* table-wrap */
.main .table-wrap {
    position: absolute;
    color: #222;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    width: 1620px;
    border-radius: 10px;
    height: 700px;
}
.main .table-wrap table.gridtable {
    margin-top: 10px;
    font-size:12px;
    width: 100%;
    text-align: left;
    border: 1px solid rgb(235, 236, 240);
}
.main .table-wrap table.gridtable th {
	border-width: 1px;
    padding: 8px;
    background-color: rgb(235, 236, 240);
}
.main .table-wrap table.gridtable tr {
    height: 50px;
}
.main .table-wrap table.gridtable tr td {
	border-width: 1px;
    padding: 8px;
    border-bottom: 1px solid rgb(235, 236, 240);
}
.main .table-wrap table.gridtable tr:last-child td {
    border: none;
}
.main .table-wrap .see-btn {
    background: rgb(49, 128, 255);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.main .table-wrap .zxf_pagediv {
    margin: 0 auto;
    /* margin-top: 20px; */
}
