.main .header {
    width: 100%;
    /* border: 1px solid #fff; */
    height: 50px;
    padding: 0;
}
.main .header .add-site-btn,
.main .header .add-line-btn
{
    background-color: rgb(51, 125, 253);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
#xianlu-choose {
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 5px;
    width: 150px;
}
#xianlu-choose option {
    color: #222;
}


/* table-wrap */
.main .table-wrap {
    position: absolute;
    color: #222;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    width: 1620px;
    border-radius: 10px;
    height: 700px;
}
.main .table-wrap table.gridtable {
    margin-top: 10px;
    font-size:12px;
    width: 100%;
    text-align: left;
    border: 1px solid rgb(235, 236, 240);
}
.main .table-wrap table.gridtable th {
	border-width: 1px;
    padding: 8px;
    background-color: rgb(235, 236, 240);
}
.main .table-wrap table.gridtable tr {
    height: 50px;
}
.main .table-wrap table.gridtable tr td {
	border-width: 1px;
    padding: 8px;
    border-bottom: 1px solid rgb(235, 236, 240);
}
.main .table-wrap table.gridtable tr:last-child td {
    border: none;
}
.main .table-wrap table.gridtable tr td i {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    cursor: pointer;
    margin-right: 10px;
}
.main .table-wrap table.gridtable tr td i img {
    width: 100%;
    height: 100%;
}


.main .table-wrap .zxf_pagediv {
    margin: 0 auto;
    padding-top: 20px;
}
/* table-wrap END */


/* alert */
.alert-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.alert-wrapper .add-line {
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 400px; */
    background: #fff;
    border-radius: 10px;
    color: #222;
}
.alert-wrapper .add-line .header  {
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
}
.alert-wrapper .add-line .header h4 {
    display: inline-block;
    vertical-align: middle;
}
.alert-wrapper .add-line .header .close {
    display: inline-block;
    right: 10px;
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
    cursor: pointer;
    float: right;
    vertical-align: middle;
}
.alert-wrapper .add-line .item-inp {
    text-align: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.alert-wrapper .add-line .item-inp select {
    width: 220px;
    padding: 10px;
    border-radius: 4px;
}
.alert-wrapper .add-line .ctrl-wrap {
    float: right;
    margin-top: 50px;
    margin-bottom: 10px;
}
.alert-wrapper .add-line .ctrl-wrap span {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.alert-wrapper .add-line .ctrl-wrap span:first-child {
    background: rgb(51, 125, 253);
    color: #fff;
}
.alert-wrapper .add-line .ctrl-wrap span:last-child {
    background: none;
    border: 1px solid rgb(201, 201, 201);
}


.alert-wrapper .add-site {
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 400px; */
    background: #fff;
    border-radius: 10px;
    color: #222;
}
.sitename {
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.3);
}
.add-line-con {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 200px;
    padding: 10px;
}
.alert-wrapper .add-site .header  {
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
}
.alert-wrapper .add-site .header h4 {
    display: inline-block;
    vertical-align: middle;
}
.alert-wrapper .add-site .header .close {
    display: inline-block;
    right: 10px;
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
    cursor: pointer;
    float: right;
    vertical-align: middle;
}
.alert-wrapper .add-site .item-inp {
    text-align: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.alert-wrapper .add-site .item-inp select {
    width: 220px;
    padding: 10px;
    border-radius: 4px;
}
.alert-wrapper .add-site .ctrl-wrap {
    float: right;
    margin-top: 50px;
    margin-bottom: 10px;
}
.alert-wrapper .add-site .ctrl-wrap span {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.alert-wrapper .add-site .ctrl-wrap span:first-child {
    background: rgb(51, 125, 253);
    color: #fff;
}
.alert-wrapper .add-site .ctrl-wrap span:last-child {
    background: none;
    border: 1px solid rgb(201, 201, 201);
}


#pagination {
    text-align: center;
    margin: 10px auto;
    margin-top: 20px;
}



.alert-wrapper .edit-wrap {
    /* padding: 50px 20px; */
    padding: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
    color: #222;
}
.alert-wrapper .edit-wrap p {
    display: inline-block;
    /* border: 1px solid red; */
    width: 70px;
    text-align: right;
    vertical-align: middle;
}
.alert-wrapper .edit-wrap div {
    text-align: center;
    margin: 10px 0;
}
.alert-wrapper .edit-wrap div input {
    padding: 10px;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.alert-wrapper .edit-wrap .ctrl-wrap {
    float: right;
    margin-top: 50px;
    margin-bottom: 10px;
}
.alert-wrapper .edit-wrap .ctrl-wrap span {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.alert-wrapper .edit-wrap .ctrl-wrap span:first-child {
    background: rgb(51, 125, 253);
    color: #fff;
}
.alert-wrapper .edit-wrap .ctrl-wrap span:last-child {
    background: none;
    border: 1px solid rgb(201, 201, 201);
}
.alert-wrapper .edit-wrap .header {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.line-wrap {
    display: inline-block;
    vertical-align: top;
}
.si-wrap {
    /* display: inline-block; */
}



@media screen and (min-width:1680px) and (max-width:1900px){
    .main .table-wrap {
        width: 1400px;
    }
}
@media screen and (min-width:1440px) and (max-width:1675px){
    .main .table-wrap {
        width: 1150px;
    }
}
@media screen and (min-width:1280px) and (max-width:1435px){
    .main .table-wrap {
        width: 1000px;
    }
}
@media screen and (min-width:900px) and (max-width:1275px){
    .main .table-wrap {
        width: 625px;
    }
}


.pagination ul {
    position: absolute;
    list-style: none;
    padding-left: 0;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}